body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #003b6f !important;
}

.profile-img {
  width: 150px;
  height: 150px;
}

footer {
  background-color: #f8f9fa;
}
